@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mukta+Vaani:wght@200&family=Oswald&family=Signika&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}



body {
    font-family: Mukta-Vaani, sans-serif;
    font-weight: 50;
    color: black;
}

header {

    width: 100%;
    background-color: rgb(135, 206, 250, 0.8);

}

.main-container {
    max-width: 1240px;
    margin: auto;
    padding: 0 8px;
}

.page-title {

    height: 75px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;



}

.page-title a {
    font-family: Signika, sans-serif;
    font-weight: 200;
    color: black;
    grid-column: 1;
    justify-self: start;
    font-size: 100%;
    padding-left: 5px;


}



.nav-container {
    height: 75px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;

}

.nav-menu {
    height: 75px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 100%;
    color: black;
    padding-left: 5px;


}

.videos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    padding: 5px 5px 5px 5px;
    align-content: center;
}


/*#navigation a {
    text-decoration: none;
    color: inherit;
}*/




/* main site central graphic */

#main-section {
    display: block;

}

#main-graphic {
    height: 500px;
}

#main-image-container {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px;


    margin: 0 auto;
}


#main-image {


    background: url('../images/main-image.jpg') no-repeat center center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 20px;
    padding-bottom: 10px;

}

/* Quotes */
#quote1 {
    float: left;
    height: 25px;
    max-width: 33%;
    font-style: italic;
}

#about {
    padding: 20px;
    text-align: center;
    font-family: Signika, sans-serif;
    font-weight: 100;

}

/* mailing list */
#form {
    text-align: center;

}

#mail {

    width: 33%;
    padding: 10px;
    display: inline-block;

}




.form-box form {
    display: grid;
    grid-template-row: repeat(4 1fr);
    width: 100%;

    justify-content: center;
}

.form-box #fname {
    grid-row: 1;
    width: 100%;

}

.form-box #lname {
    grid-row: 2;
    width: 100%;

}

.form-box #address {
    grid-row: 3;
    width: 100%;

}

.form-box #button {
    grid-row: 4;
    width: 100%;

}

.form-input {


    text-align: center;

    background: rgb(135, 206, 250, 0.8);
    color: black;

    height: 25px;
    border: 1px solid black;
    border-radius: 2px;
}

#button {
    background: rgb(135, 206, 250, 0.8);
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* social media */

footer {
    height: 150px;
}

.interact {
    text-align: center;
    height: 125px;

}

.interact>li {
    display: inline;
}

.interact i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: rgb(135, 206, 250, 1);
}

#form-box {
    font-family: Signika, sans-serif;
    font-size: 100%;
}

#form-box h2 {
    padding: 10px;
}

/* Videos for tutorials */


#video-one {
    grid-row: 1;
    justify-self: center;

}

#video-two {
    grid-row: 2;
    justify-self: center;

}

#video-three {
    grid-row: 3;
    justify-self: center;
}

/* Links */

#links {
    text-align: center;
    clear: both;
    font-family: Signika, sans-serif;
    font-size: 150%;
    padding: 10px;


}

#links li {
    list-style-type: none;
}

/* media queries */


/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #logo {
        float: left;
        max-width: 50%;
        margin-bottom: 10px;
    }

    #navigation li {
        display: inline-flex;
        flex-direction: row;



        font-size: 33%;
        clear: both;

        margin-bottom: 15px;
    }


    .page-title a {
        font-family: Signika, sans-serif;
        font-weight: 200;
        color: black;
        grid-column: 1;
        justify-self: start;
        font-size: 50%;
        padding-left: 5px;
    }

    .nav-menu {
        height: 75px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-size: 75%;
        color: black;
        padding-left: 5px;


    }
}